body {
    margin: 0%;
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    width: 100%; /* largura */
    background-color: rgb(254, 254, 254); /* Cor de fundo */
    box-shadow: 1px 1px 10px #926402;
    padding: 10px; /* margem dentro do objeto*/
    box-sizing: border-box;
    position: absolute;
    top: 0%;
}
header nav {
    float: right;
    margin-top: 30px;
}
header nav a {
    text-decoration: none;
    color: #926402;
    margin: 15px;
    
}
header nav a:hover {
    color: rgb(0, 0, 0);
}

.logo {   
    cursor: pointer;
    margin: 0 20px 0 20px;  
}

main {
    margin: 50px 50px 50px 50px;
    background-color:  #e7e7e7;
    padding-top: 50px;
}

section {
    padding-bottom: 10%;
}

.ola {
    font-size: 80px;
    margin: 100px 0 50px 0;
}

.imagemAlison {
    width: 30%;
    float: left;
    border-radius: 50%;
    filter: grayscale(50%);
    margin: 10px 30px 0 250px;
}

.botaoSobre, .botaoPortifolio, .botaoContato {
    color: black;
    text-decoration: none;
    height: 120px;
    width: 120px;   
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    border: solid black 1px;
    display: inline-block;
    align-items: center;
    box-sizing: border-box;
    margin: 40px 20px 0 0; 
    text-align: center;
    line-height: 120px;
}

.botaoSobre {
    background-color: #926402;
}

.botaoPortifolio {
    background-color: #a77c35;
}

.botaoContato {
    background-color: #bc955c;
}

.botaoSobre:hover, .botaoPortifolio:hover, .botaoContato:hover {
    background-color: #e7e7e7;
}

footer {
    clear: left;
    text-align: center;
    width: 100%; /* largura */
    background-color: rgb(254, 254, 254); /* Cor de fundo */
    box-shadow: 1px 1px 10px #926402;
    padding: 0.5px; /* margem dentro do objeto*/
    box-sizing: border-box;
}

footer i:hover {
    color: black;
}

.copyright {
    color: #926402;
    font-size: 13px;
    margin: 20px;
}

footer a {
    text-decoration: none;
    margin: 10px;
    color: #926402;
}

@media (max-width:420px){
    header {
        text-align: center;
        display: inline-block;
    }
    header nav a {
        margin: 10px;
    }
    main {
        margin: 20px;
        padding-top: 0;
    }
    .imagemAlison {
        margin: 35px 10px 0 35px;
    }
    section h3, .estudante {
        margin: 30px 0 0 45px;
    }
    .botaoSobre, .botaoPortifolio, .botaoContato {
        margin: 15px 0 0 35px;
    }
    .ola {
        margin-top: 70px;
        padding-top: 35px;
    }
}
